{% spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Xebook | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Xebook Admin panel">
    <meta name="author" content="Xercode Media Software SL">
    <link rel="icon" type="image/icon" sizes="32x32" href="{{ asset('build/images/favicon.ico') }}">
    <link rel="apple-touch-icon"  type="image/png" sizes="180x180" href="{{ asset('build/images/favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block body %}{% endblock body %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
{% endspaceless %}
